.nav-item{
    font-weight: 500;
    
    
}
.navbar-brand{
    font-weight: 500;

}
.icons{
    margin: auto;
    font-size:20px ;
    margin-left: 330px;
}
.carousel-caption h5{
    margin: auto;
    padding-top: 30%;
}

.text-style1{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(66, 74, 185);
}
.icons1 i{
      color: rgb(34, 194, 106);
      font-size: 55px;
}
.icons1 p{
    width: 50%;
    margin: auto;
}

.icons1 h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.font1 h6{
    color:green ;
    letter-spacing: 5px;
}
.font1 h1{
    text-transform: capitalize;
    font-size: 50px;
    width: 80%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.parent1{
    position: relative;
    z-index: 1;
}
.child1{
    position: absolute;
    width: 97%;
    height: 250px;
    background-color: rgb(0, 0, 0,0.5);
    top: 0%;
    visibility: hidden;
    z-index: 2;
}
.content1{
    position: absolute;
    top: 20%;
    color: white;
    font-style: initial;
    font-size: 35px;
    width: 300px;
    visibility: hidden;
    z-index: 3;
    font-weight: 500;
}
.parent1:hover .child1{
    visibility: visible;
    transition: 1s ease-in-out;
}
.parent1:hover .content1{
    visibility: visible;
    transition: 1s ease-in-out;
}
.parent2{
    position: relative;
    z-index: 1;
}
.content2{
    position: absolute;
    top: 34%;
    color: white;
    font-size: 35px;
    text-align: left;
    width: 800px;
    font-weight: 500;
    font-family: fantasy;
    z-index: 3;
    visibility: hidden;
}
.child2{
    position: absolute;
    top: 0%;
    background-color: rgb(0, 0, 0,0.5);
    width: 97%;
    height: 553px;
    z-index: 2;
    visibility: hidden;
}
.parent2:hover .content2{
    visibility: visible;
    transition: 1s ease-in-out;
}
.parent2:hover .child2{
    visibility: visible;
    transition: 1s ease-in-out;
}
.box{
    background-color: rgb(153, 172, 48);
    width: 97%;
    height: 250px;
}
.box h2{
    color: white;
    padding-top: 65px;
    padding-left: 50px;
    padding-right: 55px;
}
.box1{
    background-color: rgb(42, 42, 160);
    width: 97%;
    height: 553px;
    color: white;
}
.box1 h5{
    padding-top: 200px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 30px;
}
.box1 h2{
    padding-left: 30px;
    padding-right: 60px;
}
.box1 button{
    padding-left: 35px;
    color: white;
    border: none;
}
.box2{
    width: 97%;
    height: 250px;
    background-color: rgb(56, 190, 161);
}
.style h5{
    letter-spacing: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(39, 179, 132);
    padding-top: 120px;
}
.style h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 60px;
}
.box3{
    display: flex;
    height: 300px;
    overflow: hidden;
    scroll-snap-align: center;
    overflow-x: scroll;
}
.style1{
    text-align: center;
    height: 500px;
   padding-top: 10%;
}
.icons2 {
    color: rgb(4, 139, 94);
}
.style1 h2{
    padding-right: 10%;
    padding-left: 10%;
    font-weight: 450;
    padding-bottom: 3%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.style1 h4{
    font-family: Arial, Helvetica, sans-serif;
}

.style1 h5{
    color: rgb(30, 175, 30);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.style2{
    font-family: Arial, Helvetica, sans-serif;
     padding-right: 90px !important;
}
.style2 i{
    color: rgb(13, 151, 151);
    
}
.style2 h1{
    padding-bottom: 10px;
}
.button1{
    padding: 13px;
    padding-right: 30px;
    border: none;
    background-color: rgb(18, 170, 170);
    border-radius: 5px;
    color: white;
}
.button1:hover{
    background-color: rgb(29, 88, 88);
    color: rgb(228, 226, 226);
}
.style3 h6{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(13, 151, 151);
}
.parent3{
    position: relative;
    z-index: 1;
}
.content3{
    position: absolute;
    font-size: 50px;
    top: 35%;
    padding-left: 125px;
    align-self: center;
    color: white; 
    visibility: hidden;  
    z-index: 3;
}
.box4{
    width: 100%;
    height: 250px;
    background-color:rgb(0, 0, 0,0.5);
    position: absolute;
    top: 0%;
    visibility: hidden;
    z-index: 2;
}
.parent3:hover .content3{
    visibility: visible ;
    transition: 1s ease-in-out;
}
.parent3:hover .box4{
    visibility: visible ;
    transition: 1s ease-in-out;
}
.parent3{
    height: 250px;
    width: 100%;
    position: relative;
    background-color: rgb(13, 151, 151);
    color: white;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parent3 h1{
       padding-left: 20px;
       padding-top: 30px;
       padding-right: 50px;
}

.style4{
    height: 530px;
    margin-top: 40px;
}
.btn2{
    background-color: rgb(59, 185, 185);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
}
.btn2:hover{
    background-color: rgb(31, 116, 116);
}
.btn3{
    background-color: rgb(83, 182, 64);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
}
.btn3:hover{
    background-color: rgb(49, 107, 39) ;
}
.btn4{
    background-color: rgb(182, 166, 25);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
}
.btn4:hover{
    background-color:  rgb(122, 112, 21);
}

.btn5{
    background: none;
    color: white;
    border: none;
}
.btn5:hover{
    color: rgb(110, 104, 104);
}
.style6{
    padding-top: 100px;
    padding-right: 90px !important;
    font-family: Arial, Helvetica, sans-serif;    
}
.style7{
    padding-top: 100px;
    padding-right: 119px !important;
    font-family: Arial, Helvetica, sans-serif;    
}

.style8{
    padding-top: 100px;
    padding-right: 119px !important;
    font-family: Arial, Helvetica, sans-serif;    
}
.text-style2 h5{
    letter-spacing: 3px;
}
.text-style2 h1{
    font-weight: 700;
    letter-spacing: 2px;
}
.text-style2{
    text-align: center;
    top: 0%;
}
.text-style2 h4{
    padding: 20px;
}
.btn6{
    border: none;
    padding: 15px;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgb(18, 192, 192);
    color: white;
}
.btn6:hover{
    background-color: rgb(26, 107, 107);
    color: rgb(207, 206, 206);
}
 
.parent4{
      width: 330px;
      height: 50px;
      background-color: transparent;
      border: 0.1px solid white;
      margin-top: 20px;
      padding-left: 10px;
      position: relative;
}
.button2{
    background-color: transparent;
    position: absolute;
    left: 530px;
    margin: 30px;
    border: transparent;
    color: white;
    font-weight: 600;
}
